nav{
    background-color: #2c2f38;
}

body{
    background-color: #3d474e;
}

h1{
    color: #ffed00;
}

#proyectos{
    color: #ffed00;
}

p{
    color: white;
}
footer{
    background-color: #2c2f38;
}

.btn{
    background-color: #192230;
    color: white;
}

.card-text{
    color: #192230;
}
